# Binary search: O(logN)

# Import data from nba.txt in a table

As we can see the data is not organized in columns (everything is in single column) if we just do pd.read_table

In [35]:
import pandas as pd
import math
nba = pd.read_table('nba.txt')
# nba.describe
print(nba.shape)
nba.head(2)

(499, 1)

  Quincy Acy Tor SF  23  7 8.5 15.3  14.9  0.102 8 0.625 9 0.444 5 0.4 0.542 2.7 2.1 14.7  0.6 10.3  0.57  0.43  7.1
0  Quincy Acy  Sac SF  23  56  13.9  28.6  9.9 0....
1  Steven Adams  Okc C 20  81  14.6  30.2  11.8  ...

# Add columns to the data

We can provide meaningful names to the columns and then read the data in tables accordingly

In [36]:

column_name= ['FirstName','LastName','team','pos','age','gp','mpg','min%','usg%','tor','fta',
              'ft','2pa','2p%','3pa','3p%','ts%','ppg','rpg','trb%','apg','ast%','spg','bpg','vi']

nba = pd.read_table('nba.txt', names=column_name, delim_whitespace=True)
print(nba.shape)
nba.head(2)

(500, 25)

,FirstName,LastName,team,pos,age,gp,mpg,min%,usg%,tor,...,3p%,ts%,ppg,rpg,trb%,apg,ast%,spg,bpg,vi
0,Quincy,Acy,Tor,SF,23,7.0,8.5,15.3,14.9,0.102,...,0.4,0.542,2.7,2.1,14.7,0.6,10.3,0.57,0.43,7.1
1,Quincy,Acy,Sac,SF,23,56.0,13.9,28.6,9.9,0.160,...,0.2,0.518,2.7,3.6,14.5,0.4,4.5,0.34,0.41,4.5

# Sort Data

 Now that we have data organized in columns, time to sort them according to name alphabetically.
 
 'name' which is 'FirstName, LastName' now resides in the last column
 
 We can also reset indices to match with alphabetically arranged data

In [48]:
nba['name'] = nba['FirstName']+', '+nba['LastName']
nba = nba.sort_values(by='name')
nba = nba.reset_index()
print(nba.shape)
nba.head(5)

(500, 28)

,level_0,index,FirstName,LastName,team,pos,age,gp,mpg,min%,...,ts%,ppg,rpg,trb%,apg,ast%,spg,bpg,vi,name
0,0,70,Aaron,Brooks,Hou,PG,29,43.0,16.5,33.9,...,0.529,7.0,1.4,4.9,1.9,18.3,0.58,0.14,6.4,"Aaron, Brooks"
1,1,71,Aaron,Brooks,Den,PG,29,29.0,28.8,59.3,...,0.508,11.9,2.7,5.0,5.2,28.0,0.93,0.24,7.6,"Aaron, Brooks"
2,2,194,Aaron,Gray,Sac,C,29,33.0,10.0,20.4,...,0.455,1.8,3.1,17.7,0.6,8.4,0.30,0.24,6.0,"Aaron, Gray"
3,3,449,Adonis,Thomas,Orl,SF,20,4.0,5.9,9.5,...,0.371,1.8,0.8,7.2,0.5,13.6,0.00,0.00,6.1,"Adonis, Thomas"
4,4,450,Adonis,Thomas,Phi,F,20,2.0,6.4,9.7,...,0.700,3.5,0.0,0.0,0.5,14.4,0.00,0.00,0.0,"Adonis, Thomas"

In [49]:
print(len(nba))
# A function to extract a player's last name
def format_name(name):
    return name.split(" ")[1] + ", " + name.split(" ")[0]

format_name("Aaron, Gray")
nba.iloc[1,25]

500

0.23999999999999999

# Binary Search on Data

In [45]:
# The length of the dataset (number of rows)
length = len(nba)

def player_age(name):
    name = format_name(name)
    lower_bound = 0

    upper_bound = length - 1
    index = int(math.floor((upper_bound + lower_bound) / 2))
    
    guess = nba.iloc[index,25]
    print(guess)
    
    while name != guess and upper_bound >= lower_bound:
        if name < guess:
            upper_bound = index - 1

        else:
            lower_bound = index + 1
            #print 'else'
            #print lower_bound
        index = int(math.floor((lower_bound + upper_bound) / 2))
        #print index
        guess = nba.iloc[index,25]
        #print index
        #print guess
    if name == guess:
        #print guess
        #print nba.iloc[index,4]
        return nba.iloc[index,4]
    else:
        return -1
    #"""
    
curry_age = player_age("Stephen Curry")
print(curry_age)
#griffin_age = player_age("Blake Griffin")
#jordan_age = player_age("Michael Jordan")

#print curry_age, griffin_age, jordan_age

5.4

TypeError: '>' not supported between instances of 'numpy.ndarray' and 'str'